<h1>Social Media Contacts</h1>

<br>

<h3>Search
  <form action="/">
    <input type="text" name="search_term" id="search_term">
    <input type="submit" id="submit_button" value="Update records">
  </form>
</h3>
Records shown: <%= @contacts.count %>
<% if @search_term %>
  <%= "(Searched term: '#{@search_term}')" %> <a href="/" id="clear_search_link">Clear search</a>
<% end %>

<br><br><br><br>

<table class="table">
  <thead>
    <tr>
      <th>No.</th>
      <th>Name</th>
      <th>Email</th>
      <th>Company</th>
      <th>City</th>
      <th>Country</th>
      <th>Job History</th>
    </tr>
  </thead>
  <% @contacts.each_with_index do |contact, index| %>
    <tbody>
      <tr>
        <td><%= index + 1 %></td>
        <td><%= contact["name"] %></td>
        <td><%= contact["email"] %></td>
        <td><%= contact["company"] %></td>
        <td><%= contact["city"] %></td>
        <td><%= contact["country"] %></td>
        <td><%= contact["job_history"].join(', ') if contact["job_history"] %></td>
      </tr>
    </tbody>
  <% end %>
</table>
